body {
  background-color: #DCE7F7;
}
.groupcolor{
  all: unset;
  width: 50px;
  height: 50px;
  background-color: #16008B;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 15px 30px;
  
}

.datePickerContainer {
  margin: 20px;
}

.datePicker {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.heading{
  all: unset;
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
}
.arrow {
  height: 20px;
  margin-left: 10px;
}
.header{
  background-color: #001F8B;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.writenotes{
  position: absolute;
  bottom: 1%;
  background-color: #001F8B;
  width: 76.5%;
  height: 15vh;
  text-align: center;
  margin-top: 10px;
}
.writenotes input{
  margin: 10px;
  width: 95%;
  height:12vh;
  font-size: 20px;
}
.vector{
  position: absolute;
  right: 4%;
  bottom: 40%;
  height: 20px;
}
.notes{
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.notes span{
  float: right;
  font-weight: bold;
  font-size: medium;
}
.notesContainer {
  width: 100%;
  height: 100vh;
  overflow-y: auto; 
  padding: 20px;
  box-sizing: border-box; 
}

.noNotes {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width:1200px){
  .writenotes{
  position: absolute;
  bottom: 1%;
  background-color: #001F8B;
  width: 100%;
  height: 15vh;
  text-align: center;
  margin-top: 10px;
}
}