@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

html {
  scrollbar-width: thin; 
  scrollbar-color: #ffffff #e2e2e2;
}